# User Testing

###	User 1:

*	Was able to identify the hamburger icon as the menu for further functionalities

*	Had no preconceived notion of what Private Mode was but was able to understand after reading the brief description on the Private Hub Page

*	Had difficulty returning to Standard Mode from Private Mode

    -	Attempted multiple times by clicking the ‘Home Page’ button
    
    -	Was unable to identify the ‘Standard Mode’ option on both the drag menu and the ‘Tabs’ page
    
###	User 2:

*	Was able to identify the hamburger icon as the menu for further functionalities

*	Had no further difficulties or suggestions

###	Changes applied from results:

*	Changed ‘Standard Mode’ labeling to ‘Leave Private Mode’

*	Changed user icon for Standard Mode to an exit arrow icon

*	Ensured the ‘Home Page’ button on the drag menu lead back to the Standard Mode hub page instead of the Private Mode hub page
